target/
MybatisGenerator/bin
classes/
MybatisGenerator/.settings
!.mvn/wrapper/maven-wrapper.jar
tmp/
.mvn/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iws
*.iml
*.ipr

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/